{% load i18n ifsetting_tag account_tags %}
    
{% if user.is_authenticated %}
    <b>{% user_display user %}</b>
    |
    <a href="{% url 'acct_email' %}">{% trans "Account" %}</a>
    |
    {% if user.is_staff %}
        <a href="{% url 'admin:index' %}">Admin</a>
        |
    {% endif %}
    <a href="{% url 'acct_logout' %}">{% trans 'Logout' %}</a>
{% else %}
<a href="{% url 'acct_login' %}">{% trans "Log in" %}</a> {% trans 'or' %} <a href="{% url 'acct_signup' %}">{% trans "Sign Up" %}</a> {% endif %}
